{% extends 'base.html' %}

{% block content %}

    <div class="container">

        <h2>Line</h2>
            
        <div class="row">

            <div class="col-md-6">

                <div class="card">

                    <div class="card-header">
                        <a class="btn btn-sm btn-outline-primary" href="{{ object.get_edit_url }}">Edit</a>
                        <a class="btn btn-sm btn-outline-danger" href="{{ object.get_delete_url }}">Delete</a>

                    </div>

                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{ object.scene.get_absolute_url }}" class="badge badge-primary">{{ object.scene.get_scene_code }}</a>
                            -
                            <a href="{{ object.character.get_absolute_url }}" class="badge badge-success">{{ object.character.code }}</a>
                            -
                            <a href="{{ object.get_absolute_url }}" class="badge badge-warning">{{ object.get_line_id }}</a>
                        </h5>

                        <br>

                        <h5><b>Text</b></h5>

                        <div class="card">
                            <div class="card-body">
                                <b>{{ object.character.name|upper }}</b>: {{ object.text }}
                            </div>
                        </div>

                        <br>

                        <div>
                            <h5><b>Responses</b></h5>

                            <form action="." method="POST">

                                {% csrf_token %}

                                <div class="form-group">
                                    <input type="text" class="form-control form-control-sm" name="text" placeholder="Enter response text here" required>
                                </div>

                                <button type="submit" class="btn btn-sm btn-outline-primary">Add response</button>

                            </form>
                            
                            <br>
                            
                            <ol>

                                {% for response in object.response_set.all %}

                                <li>
                                    <a href="{{ response.get_absolute_url }}" class="btn btn-sm btn-outline-info btn-block">{{ response.text }}</a> 
                                </li>

                                <br>

                                {% endfor %}

                            </ol>
                            
                        </div>
                    </div>
                    
                </div>
                
            </div>

            <div class="col-md-6">
                <div class="card">

                    <div class="card-header">

                    </div>

                    <div class="card-body">
                        <h5 class="card-title">
                        </h5>

                        <br>
                    </div>
                    
                </div>
            </div>

        </div>



    </div>
    
{% endblock %}

