{% extends 'base.html' %}

{% block content %}

    <div class="container">

        <div class="row">

            <div class="col-md-12">

                <h2>Line</h1>

                <div class="card" style="width: 24rem;">
                    <div class="card-body">
                        <h5 class="card-title"><b>{{ object.get_line_code }}</b></h5>
                        <a href="{{ object.scene.get_absolute_url }}" class="badge badge-primary">{{ object.scene.get_scene_code }}</a>
                        <a href="{{ object.character.get_absolute_url }}" class="badge badge-success">{{ object.character.name }}</a>
                        <p class="card-text">{{ object.text }}</p>
                        <a href="{{ object.get_edit_url }}" class="btn btn-sm btn-primary">{% include 'icons/pencil_fill.html' %}</a>
                        <a href="{{ object.get_delete_url }}" class="btn btn-sm btn-danger">{% include 'icons/trash_can_fill.html' %}</a>
                    </div>
                </div>                

            </div>

        </div>

    </div>
    
{% endblock %}

