{% extends 'base.html' %}

{% block content %}

    <div class="container">

        <div class="row">

            <div class="col-md-12">

                <h2>Line</h1>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{ object.scene.get_absolute_url }}" class="badge badge-primary">{{ object.scene.get_scene_code }}</a>
                            -
                            <a href="{{ object.character.get_absolute_url }}" class="badge badge-success">{{ object.character.code }}</a>
                            -
                            <a href="{{ object.get_absolute_url }}" class="badge badge-warning">{{ object.get_line_id }}</a>
                        </h5>

                        <br>

                        <h5><b>Text</b></h5>

                        <a href="#" class="btn btn-sm btn-outline-warning btn-block">{{ object.text }}</a>

                        <br>

                        <div>
                            <h5><b>Responses</b></h5>
                            
                            <ol>

                                {% for response in object.response_set.all %}

                                <li>
                                    <a href="#" class="btn btn-sm btn-outline-info btn-block">{{ response.text }}</a> 
                                    <a href="#" class="badge badge-primary">Add consequense</a>
                                </li>

                                <br>

                                {% endfor %}

                            </ol>
                            
                        </div>
                    </div>
                    
                </div>
                
            </div>

        </div>

    </div>
    
{% endblock %}

