{% extends 'base.html' %}

{% block content %}

    <div class="container">

        <div class="row">

            <div class="col-md-12">

                <h1>Responses</h1>

                {% include 'create_header.html' %}

                <table class="table table-bordered">

                    <thead>

                        <tr>

                            <th scope="col">
                                Response ID
                            </th>

                            <th scope="col">
                                Response Code
                            </th>

                            <th scope="col">
                                Response Text
                            </th>

                            <th scope="col">
                                Consequence
                            </th>

                            <th scope="col">
                                Scene
                            </th>

                            <th scope="col">
                                Author
                            </th>

                        </tr>

                    </thead>

                    <tbody>

                        {% for response in responses %}

                        <tr>

                            <th scope="row">{{ response.pk }}</th>
                            <td><a href="{{ response.get_absolute_url }}">{{ response.get_response_code }}</a></td>
                            <td>{{ response.text }}</td>
                            <td><a href="{{ response.next_line.get_absolute_url }}">{{ response.next_line.get_line_code }}</a></td>
                            <td><a href="{{ response.scene.get_absolute_url }}">{{ response.line.scene.get_scene_code }}</a></td>
                            <td>{{ response.author }}</td>
                            <td><a href="{{ response.get_edit_url }}">{% include 'icons/pencil_fill.html' %}</a></td>

                        </tr>

                        {% endfor %}

                    </tbody>

                </table>

            </div>

        </div>

    </div>
{% endblock %}