{% extends 'base.html' %}

{% block head_title %}
DIALAUG
{% endblock %}

{% block content %}

<div class="container-fluid">

    <div class="row">

        {% include 'side_nav.html' %}

        <div class="col-md-10">

                <br>
        
                <div class="row">
                    
                    <div class="col-md-12">
        
                        <h1>Scenes</h1>
        
                        {% include 'create_header.html' %}
        
                        <div class="row">
        
                            {% for scene in scenes %}
        
                            <div class="col-md-4">
        
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title"><a href="{{ scene.get_absolute_url }}">S{{ scene.pk }}</a></h5>

                                        {% for character in scene.characters.all %}

                                        <a href="{{ character.get_absolute_url }}"><span class="badge badge-success">{{ character.name }}</span></a>

                                        {% endfor %}

                                        <p class="card-text">{{ scene.description }}</p>

                                        <a href="{{ scene.get_edit_url }}" class="btn btn-outline-primary btn-sm">
                                            {% include 'icons/pencil_fill.html' %}
                                        </a>
                                        <a href="{{ scene.get_delete_url }}" class="btn btn-outline-danger btn-sm">
                                            {% include 'icons/trash_can_fill.html' %}
                                        </a>
                                    </div>
                                </div>
            
                                <br>
        
                            </div>
        
                            {% endfor %}
        
                        </div>
                        
                    </div>
        
                </div>
        

        </div>

    </div>

</div>

{% endblock %}

