{% extends 'base.html' %}

{% block content %}

    <div class="container">

        <br>

        <div class="row">

            <div class="col-md-8">

                <h3>Lines <a href="#" class="btn btn-sm btn-outline-primary">Add</a></h3>
                
                
                <div class="card">

                    <div class="card-body">

                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" href="{{ object.get_absolute_url }}">Lines</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Thoughts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Images</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ object.get_characters_url }}">Characters</a>
                            </li>
                        </ul>

                        <br>

                        {% for line in object.line_set.all %}

                        <div class="card">
                            <h5 class="card-header">
                                <a href="{{ line.scene.get_absolute_url }}" class="badge badge-primary">{{ line.scene.get_scene_code }}</a>
                                -
                                <a href="{{ line.character.get_absolute_url }}" class="badge badge-success">{{ line.character.code }}</a>
                                -
                                <a href="{{ line.get_absolute_url }}" class="badge badge-warning">{{ line.get_line_id }}</a>
                            </h5>

                           <ul class="nav justify-content-end">
                               <li class="nav-item">
                                    <a class="nav-link" href="{{ line.get_edit_url }}">Add response</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ line.get_edit_url }}">Edit</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ line.get_delete_url }}">Delete</a>
                                </li>
                            </ul> 

                            <div class="card-body">
                                <h5 class="card-title"><b>{{ line.character.name }}:</b></h5>

                                <a href="{{ line.get_absolute_url }}" class="btn btn-sm btn-outline-warning btn-block">{{ line.text }}</a>

                                <br>

                                <div>
                                    <h5><b>Responses</b></h5>

                                    <ol>

                                        <li>
                                            <a href="#" class="btn btn-sm btn-outline-info btn-block">My first response is a pretty long one for some reason. I just want to test the limits here.</a>
                                        </li>

                                    </ol>

                                    
                                </div>
                            </div>
                        </div>

                        <br>

                        {% endfor %}
                       
                    </div>
                </div>

            </div>

            <div class="col-md-4">

                <h3>Scene</h3>
                
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ object.get_scene_code }}</h5>
                        <p class="card-text">{{ object.description }}</p>

                        <a href="{{ object.get_edit_url }}" class="btn btn-outline-primary btn-sm">Edit</a>
                        <a href="{{ object.get_edit_url }}" class="btn btn-outline-danger btn-sm">Delete</a>

                    </div>
                </div>

            </div>

        </div>

    </div>
    
{% endblock %}