{% extends 'base.html' %}

{% block content %}

    <div class="container">

        <h2>Scene</h2>

        <div class="row">

            <div class="col-md-8">

                <div class="card">

                    <div class="card-body">

                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" href="{{ object.get_absolute_url }}">Lines</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Thoughts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Images</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ object.get_characters_url }}">Characters</a>
                            </li>
                        </ul>

                        <br>

                        <form action="." method="POST">

                            {% csrf_token %}

                            
                            <div class="form-group">

                                <select name="character" id="" class="form-control form-control-sm">

                                    <option value="">Select character</option>

                                    {% for character in object.characters.all %}

                                    <option value="{{ character.pk }}">{{ character.name }}</option>

                                    {% endfor %}

                                </select>

                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control form-control-sm" name="text" required>
                            </div>

                            <button type="submit" class="btn btn-sm btn-outline-primary">Add line</button>

                        </form>

                        <br>

                        {% for line in object.line_set.all %}

                        <div class="card">
                            <h5 class="card-header">
                                <a href="{{ line.scene.get_absolute_url }}" class="badge badge-primary">{{ line.scene.get_scene_code }}</a>
                                -
                                <a href="{{ line.character.get_absolute_url }}" class="badge badge-success">{{ line.character.code }}</a>
                                -
                                <a href="{{ line.get_absolute_url }}" class="badge badge-warning">{{ line.get_line_id }}</a>
                            </h5>

                            <div class="card-body">
                                <h5 class="card-title"><b>Text</b></h5>

                                <div class="card">
                                    <div class="card-body">
                                        <b>{{ line.character.name|upper }}:</b> <a href="{{ line.get_absolute_url }}">{{ line.text }}</a>
                                    </div>
                                </div>

                                <br>

                                <div>
                                    <h5><b>Responses</b></h5>

                                    {% if line.response_set.all %}

                                    <ol>

                                        {% for response in line.response_set.all %}

                                        <li>
                                            <a href="{{ response.get_absolute_url }}" class="btn btn-sm btn-outline-info btn-block">{{ response.text }}</a> 
                                            <a href="#" class="badge badge-primary">Add consequense</a>
                                        </li>

                                        <br>

                                        {% endfor %}

                                    </ol>

                                    {% else %}

                                    <div class="alert alert-secondary" role="alert">
                                        Not responses yet.
                                    </div>

                                    {% endif %}

                                </div>
                            </div>
                        </div>

                        <br>

                        {% endfor %}
                       
                    </div>
                </div>

            </div>

            <div class="col-md-4">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ object.get_scene_code }}</h5>
                        <p class="card-text">{{ object.description }}</p>

                        <a href="{{ object.get_edit_url }}" class="btn btn-outline-primary btn-sm">Edit</a>
                        <a href="{{ object.get_edit_url }}" class="btn btn-outline-danger btn-sm">Delete</a>

                    </div>
                </div>

            </div>

        </div>

    </div>
    
{% endblock %}